## Tutorial for module decriptor.py

In [1]:
import __init__
from __init__ import DATA_PATH
import pandas as pd

### Class rdkitDescriptor

``` from rdkit.Chem import rdMolDescriptors as rdD ```

1. Propertires, 25 in total, 
    * 19 ints:
    'lipinskiHBA', 'lipinskiHBD', 'NumRotatableBonds', 'NumHBD',
    'NumHBA', 'NumHeteroatoms', 'NumAmideBonds', 'NumRings', 'NumAromaticRings',
    'NumAliphaticRings', 'NumSaturatedRings', 'NumHeterocycles', 
    'NumAromaticHeterocycles', 'NumSaturatedHeterocycles', 
    'NumAliphaticHeterocycles', 'NumSpiroAtoms', 'NumBridgeheadAtoms',
    'NumAtomStereoCenters','NumUnspecifiedAtomStereoCenters'
    * 6 floats:
    'exactmw','FractionCSP3','labuteASA','tpsa','CrippenClogP','CrippenMR'
    
    
2. Connectivity and shape indexes, 14 in total, float,
    * ChiNn(v), N=0-5, 
    * HallKierAlpha
    * Kappa1-3,  -> float
    
3. MOE-type descriptors, 58 in total, float
    * SlogP_VSA1-12
    * SMR_VSA1-10
    * PEOE_VSA1-14
    * EState_VSA1-11
    * VAS_EState1-11

4. MQN-type descriptors, 42 in total, int 

---

5. Morgan fingerprint

6. Autocorrelation

In [2]:
from descriptor import rdkitDescriptors as rdD

In [19]:
a = rdD('CCCCCCCC(O)C(O)=O')

In [20]:
len(a.compute_int_descriptors())

61

In [21]:
len(a.compute_float_descriptors())

78

In [22]:
len(a.compute_all_descriptors())

139

In [23]:
len(a.compute_auto_2D_coorelation())

192

In [6]:
len(a.compute_Morgan_fingerprint())

30

In [7]:
df = rdD.batch_compute_all_descriptors(['c1ccccc1', 'CC(O)C(O)=O'])

In [8]:
df

,exactmw,lipinskiHBA,lipinskiHBD,NumRotatableBonds,NumHBD,NumHBA,NumHeteroatoms,NumAmideBonds,FractionCSP3,NumRings,...,MQN33,MQN34,MQN35,MQN36,MQN37,MQN38,MQN39,MQN40,MQN41,MQN42
0,78.046950,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,1.0,...,0,0,0,1,0,0,0,0,0,0
1,90.031694,3.0,2.0,1.0,2.0,2.0,3.0,0.0,0.666667,0.0,...,0,0,0,0,0,0,0,0,0,0

In [24]:
from rdkit.Chem import MACCSkeys

In [29]:
a = rdD('C(O)=O')

In [30]:
len(list(MACCSkeys.GenMACCSKeys(a.Molecule)))

167

### Class mordredDescriptor

In [9]:
from descriptor import mordredDescriptors as mdD

In [10]:
a = mdD('c1ccccc1')

In [11]:
len(a.compute_all_descriptors())

1613

In [12]:
df = mdD.batch_compute_all_descriptors(['c1ccccc1', 'CC(O)C(O)=O'])

100%|██████████| 2/2 [00:00<00:00, 18.29it/s]

In [13]:
df

,ABC,ABCGG,nAcid,nBase,SpAbs_A,SpMax_A,SpDiam_A,SpAD_A,SpMAD_A,LogEE_A,...,SRW10,TSRW10,MW,AMW,WPath,WPol,Zagreb1,Zagreb2,mZagreb1,mZagreb2
0,4.242641,4.000000,0,0,8.0,2.0,4.0,8.0,1.333333,2.687624,...,7.627057,30.941317,78.046950,6.503913,27,3,24.0,24.0,1.500000,1.500000
1,3.932653,4.244375,1,0,6.0,2.0,4.0,6.0,1.000000,2.610845,...,7.626083,30.698690,90.031694,7.502641,29,4,22.0,21.0,4.222222,1.444444